li {
  list-style: none;
  padding: 10px; }

.primary-light {
  background: #757ce8;
  color: #fff; }

.primary-light:hover {
  background: #002884; }

.primary-main {
  background: #3f50b5;
  color: #fff; }

.primary-dark {
  background: #002884;
  color: #fff; }

.secondary-light {
  background: #ff7961;
  color: #fff; }

.secondary-main {
  background: #f44336;
  color: #fff; }

.secondary-dark {
  background: #ba000d;
  color: #fff; }

.tertiary-light {
  background: #90caf9;
  color: #000; }

.tertiary-main {
  background: #2196f3;
  color: #000; }

.tertiary-dark {
  background: #1565C0;
  color: #fff; }

.bg-900 {
  background: #212121;
  color: #fff; }

.bg-800 {
  background: #424242;
  color: #fff; }

.bg-700 {
  background: #616161;
  color: #fff; }

.bg-600 {
  background: #757575;
  color: #fff; }

.bg-500 {
  background: #9E9E9E;
  color: #000; }

.bg-400 {
  background: #BDBDBD;
  color: #000; }

.bg-300 {
  background: #E0E0E0;
  color: #000; }

.bg-200 {
  background: #EEEEEE;
  color: #000; }

.bg-100 {
  background: #F5F5F5;
  color: #000; }

.bg-50 {
  background: #FAFAFA;
  color: #000; }

section.top-header {
  border-bottom: 1px solid #eeeeee;
  display: inline-block;
  width: 100%; }
  section.top-header > div {
    width: 85%;
    margin: 0 auto;
    font-size: 16px; }
    section.top-header > div > div {
      display: inline-block;
      position: relative; }
      section.top-header > div > div ul {
        list-style: none;
        padding: 0;
        margin: 0; }
        section.top-header > div > div ul li {
          float: left;
          line-height: 132%;
          font-weight: 600;
          text-transform: uppercase;
          padding-top: 6px;
          padding-right: 8px;
          border-left: 1px solid #eeeeee;
          padding-left: 8px;
          position: relative;
          height: 36px;
          font-size: 65%;
          text-align: center; }
          section.top-header > div > div ul li a {
            text-decoration: none;
            color: #555; }
          section.top-header > div > div ul li span {
            display: block; }
          section.top-header > div > div ul li span:nth-child(1) {
            font-size: 120%; }
          section.top-header > div > div ul li span:nth-child(2) {
            font-size: 106%; }
    section.top-header > div .left-header {
      float: left; }
      section.top-header > div .left-header ul li:nth-child(1) {
        text-align: right;
        border-left: 0; }
        section.top-header > div .left-header ul li:nth-child(1) a {
          color: #333; }
      section.top-header > div .left-header ul li:nth-child(2) {
        text-align: left; }
      section.top-header > div .left-header ul.min li:nth-child(2) {
        display: none; }
      section.top-header > div .left-header ul.min li span {
        float: none;
        display: inline-block; }
      section.top-header > div .left-header ul.min li span:nth-child(2) {
        padding-left: 10px;
        border-left: 1px solid #eeeeee; }
    section.top-header > div .right-header {
      float: right; }
      section.top-header > div .right-header ul li {
        text-align: right;
        padding: 8px 0px; }
        section.top-header > div .right-header ul li a {
          width: auto;
          font-weight: 600;
          text-transform: uppercase;
          padding-top: 10px;
          color: #635555;
          text-decoration: none;
          display: block;
          font-size: 120%;
          margin: 0 auto;
          padding: 7px; }
        section.top-header > div .right-header ul li ul li {
          float: none;
          text-align: left;
          width: 100%;
          position: relative;
          height: auto;
          padding: 0px 0px;
          border-left: 0px solid #eeeeee;
          border-top: 1px solid #cecece; }
          section.top-header > div .right-header ul li ul li a {
            color: #000;
            display: inline-block;
            height: auto;
            line-height: 22px;
            margin-top: 0px;
            width: 38px;
            font-size: 150%;
            text-align: center;
            padding: 3px 0px;
            font-size: 14px;
            font-weight: 600; }
        section.top-header > div .right-header ul li span.de-lag {
          padding: 2px;
          font-size: 120%;
          display: inline-block;
          padding-top: 5px;
          text-transform: initial; }
        section.top-header > div .right-header ul li select {
          height: 25px; }
        section.top-header > div .right-header ul li #myDIV {
          position: absolute;
          right: 0;
          top: 43px;
          z-index: 1; }
          section.top-header > div .right-header ul li #myDIV div {
            position: relative;
            display: block; }
            section.top-header > div .right-header ul li #myDIV div form {
              width: 280px;
              padding: 0; }
              section.top-header > div .right-header ul li #myDIV div form label {
                text-indent: -5000px;
                height: 0px;
                display: block;
                cursor: pointer; }
              section.top-header > div .right-header ul li #myDIV div form input#search_key {
                border: 2px solid #aa2323;
                height: 36px;
                line-height: 34px;
                padding: 0 0px 0 8px;
                width: 270px;
                background: url(../images/menu-bullet.png) #fff no-repeat 8px 12px;
                font-family: 'Lato', sans-serif;
                font-weight: 600; }
              section.top-header > div .right-header ul li #myDIV div form input.bttn-search {
                width: 34px;
                height: 36px;
                cursor: pointer;
                border: 0px;
                overflow: hidden;
                text-indent: -200px;
                font-size: 1px;
                background: url(../images/ico-goi-search.png) no-repeat center center #aa2323;
                position: absolute;
                top: 2px;
                left: 240px;
                padding: 5px 20px;
                margin: 0; }
      section.top-header > div .right-header ul li.drop-down ul {
        position: absolute;
        z-index: 9999;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        background: #d4d3d3;
        padding: 0px 0px;
        left: -9999em;
        top: 36px; }
        section.top-header > div .right-header ul li.drop-down ul li {
          float: none; }
        section.top-header > div .right-header ul li.drop-down ul li:nth-child(4) {
          background: #000; }
          section.top-header > div .right-header ul li.drop-down ul li:nth-child(4) a {
            color: #ffff00; }
      section.top-header > div .right-header ul li.drop-down:hover, section.top-header > div .right-header ul li.drop-down.hover {
        z-index: 100;
        background: #d4d3d3; }
        section.top-header > div .right-header ul li.drop-down:hover ul, section.top-header > div .right-header ul li.drop-down.hover ul {
          left: 0; }

.make_me_dark {
  background: #000; }
  .make_me_dark p {
    color: #fff; }
  .make_me_dark section.top-header {
    background: #333;
    color: #fff; }
    .make_me_dark section.top-header .left-header ul li a {
      color: #ffff00; }
    .make_me_dark section.top-header .left-header ul li:nth-child(1) a {
      color: #ffff00; }
    .make_me_dark section.top-header .right-header ul li a {
      color: #ffff00; }
    .make_me_dark section.top-header .right-header ul li ul li {
      background: #333; }
      .make_me_dark section.top-header .right-header ul li ul li a {
        color: #ffff00; }
    .make_me_dark section.top-header .right-header ul li.drop-down ul li:nth-child(4) {
      background: #fff; }
      .make_me_dark section.top-header .right-header ul li.drop-down ul li:nth-child(4) a {
        color: #000; }

@media screen and (max-width: 1024px) {
  section.top-header > div {
    width: 95%; }
    section.top-header > div > div ul li span:nth-child(1) {
      font-size: 108%; }
    section.top-header > div > div ul li span:nth-child(2) {
      font-size: 92%; }
    section.top-header > div .right-header ul li span.de-lag {
      display: none; }
    section.top-header > div .right-header ul li a {
      font-size: 108%; } }
@media screen and (max-width: 768px) {
  section.top-header > div .left-header, section.top-header > div .right-header {
    float: none;
    width: 100%;
    position: relative;
    clear: both;
    margin-top: 5px;
    text-align: center;
    border-top: 1px solid #eeeeee;
    display: block; }
  section.top-header > div .left-header ul li {
    width: 100%;
    padding: 0;
    height: auto; }
    section.top-header > div .left-header ul li span {
      float: none;
      display: inline; }
    section.top-header > div .left-header ul li span:nth-child(1) {
      padding-right: 5px; }
  section.top-header > div .left-header ul li:nth-child(1), section.top-header > div .left-header ul li:nth-child(2) {
    text-align: center; }
  section.top-header > div .right-header > ul {
    text-align: center;
    display: inline-block;
    height: 30px;
    list-style: none;
    margin: 0 auto;
    padding: 0; }
    section.top-header > div .right-header > ul li {
      text-align: center;
      padding: 0;
      height: 35px; }
      section.top-header > div .right-header > ul li select {
        margin: 5px 0px; }
      section.top-header > div .right-header > ul li a {
        padding: 10px 10px; } }
@media screen and (max-width: 767px) {
  section.top-header > div .right-header > ul > li:nth-child(1) {
    display: none; }
  section.top-header > div .right-header > ul li #myDIV {
    left: 0;
    top: 36px; } }
li {
  list-style: none;
  padding: 10px; }

.primary-light {
  background: #757ce8;
  color: #fff; }

.primary-light:hover {
  background: #002884; }

.primary-main {
  background: #3f50b5;
  color: #fff; }

.primary-dark {
  background: #002884;
  color: #fff; }

.secondary-light {
  background: #ff7961;
  color: #fff; }

.secondary-main {
  background: #f44336;
  color: #fff; }

.secondary-dark {
  background: #ba000d;
  color: #fff; }

.tertiary-light {
  background: #90caf9;
  color: #000; }

.tertiary-main {
  background: #2196f3;
  color: #000; }

.tertiary-dark {
  background: #1565C0;
  color: #fff; }

.bg-900 {
  background: #212121;
  color: #fff; }

.bg-800 {
  background: #424242;
  color: #fff; }

.bg-700 {
  background: #616161;
  color: #fff; }

.bg-600 {
  background: #757575;
  color: #fff; }

.bg-500 {
  background: #9E9E9E;
  color: #000; }

.bg-400 {
  background: #BDBDBD;
  color: #000; }

.bg-300 {
  background: #E0E0E0;
  color: #000; }

.bg-200 {
  background: #EEEEEE;
  color: #000; }

.bg-100 {
  background: #F5F5F5;
  color: #000; }

.bg-50 {
  background: #FAFAFA;
  color: #000; }

.alert-primary, .alert-secondary, .alert-success, .alert-danger, .alert-warning, .alert-info, .alert-light, .alert-dark {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem; }

.alert-primary {
  background: #cce5ff;
  color: #004085;
  border-color: #b8daff; }

.alert-secondary {
  background: #e2e3e5;
  color: #383d41;
  border-color: #d6d8db; }

.alert-success {
  background: #75aa61;
  color: #155724;
  border-color: #c3e6cb; }

.alert-danger {
  background: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb; }

.alert-danger {
  background: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb; }

.alert-warning {
  background: #fff3cd;
  color: #856404;
  border-color: #ffeeba; }

.alert-info {
  background: #d1ecf1;
  color: #0c5460;
  border-color: #bee5eb; }

.alert-light {
  background: #fefefe;
  color: #818182;
  border-color: #e6e6e8; }

.alert-dark {
  background: #1b1e21;
  color: #d6d8d9;
  border-color: #c6c8ca; }

.alert-small {
  font-size: 0.75rem;
  padding: 0.5rem 0.50rem; }

.alert-large {
  font-size: 1.75rem; }

.btn {
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.5em; }

.btn-basic {
  background: #ddd;
  color: #000; }
  .btn-basic:hover {
    background: #c9c9c9;
    transition: all 0.3s ease; }
  .btn-basic:active {
    background: #9d9d9d; }

.btn-default {
  background: #fff;
  color: #000; }
  .btn-default:hover {
    background: #ebebeb;
    transition: all 0.3s ease; }
  .btn-default:active {
    background: #bfbfbf; }

.btn-primary {
  background: #337ab7;
  color: #000; }
  .btn-primary:hover {
    background: #2a6597;
    transition: all 0.3s ease; }
  .btn-primary:active {
    background: #173853; }

.btn-success {
  background: #2ecc71;
  color: #000; }
  .btn-success:hover {
    background: #26ab5f;
    transition: all 0.3s ease; }
  .btn-success:active {
    background: #176437; }

.btn-info {
  background: #5bc0de;
  color: #000; }
  .btn-info:hover {
    background: #39b3d7;
    transition: all 0.3s ease; }
  .btn-info:active {
    background: #1f7e9a; }

.btn-warning {
  background: #f1c40f;
  color: #000; }
  .btn-warning:hover {
    background: #cba50c;
    transition: all 0.3s ease; }
  .btn-warning:active {
    background: #796307; }

.btn-danger {
  background: #e74c3c;
  color: #000; }
  .btn-danger:hover {
    background: #df2e1b;
    transition: all 0.3s ease; }
  .btn-danger:active {
    background: #921e12; }

.btn-link {
  background: transparent;
  color: #337ab7; }
  .btn-link:hover {
    background: rgba(0, 0, 0, 0);
    transition: all 0.3s ease; }
  .btn-link:active {
    background: rgba(0, 0, 0, 0); }

/*Other Stylez*/
.wrap {
  margin: 0 auto;
  text-align: center; }

h1 {
  font-family: 'Poiret One', cursive;
  font-size: 3em; }

dd.extra-small {
  font-size: 1rem; }

dd.small {
  font-size: 1.2rem; }

dd.regular {
  font-size: 1.6rem; }

dd.large {
  font-size: 2.4rem; }

dd.x-large {
  font-size: 3.2rem; }

dd.xx-large {
  font-size: 4.8rem; }

dd.xxx-large {
  font-size: 6.4rem; }

dd.w100 {
  font-weight: 100; }

dd.w200 {
  font-weight: 200; }

dd.w300 {
  font-weight: 300; }

dd.w400 {
  font-weight: 400; }

dd.w500 {
  font-weight: 500; }

dd.w600 {
  font-weight: 600; }

dd.w700 {
  font-weight: 700; }

dd.w800 {
  font-weight: 800; }

dd.w900 {
  font-weight: 900; }

dl, dt, dd {
  padding: 0;
  margin: 0; }

dl {
  width: 70%;
  min-width: 660px; }

dl {
  overflow: hidden;
  margin: 1em auto; }
  dl dt, dl dd {
    float: left;
    width: 50%;
    border-bottom: 1px solid #ccc;
    text-align: center;
    min-height: 35px;
    line-height: 35px; }
  dl dt {
    width: 25%;
    clear: left;
    font-weight: 400; }
  dl dd {
    width: 75%;
    clear: right; }
  dl dd + dd {
    padding-left: 25%; }
  dl dt:first-of-type, dl dd:first-of-type {
    font-weight: 500; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  margin: 0; }

html {
  background-color: #b8b4b4; }

.container {
  margin: 0 auto;
  display: block;
  text-align: center;
  overflow: hidden; }

h1 {
  font-size: 42px;
  text-align: center;
  width: 80%;
  margin-left: 10%;
  line-height: 50px;
  color: #fff; }

.box {
  background-color: #eee;
  display: inline-block;
  height: 100px;
  width: 200px;
  margin: 10px; }
  .box p {
    line-height: 20px; }

.default {
  margin: 3.125rem; }

.padding.small {
  padding: 1.5625rem; }

.padding.medium {
  padding: 3.125rem; }

.padding.large {
  padding: 4.6875rem; }

.padding.xlarge {
  padding: 6.25rem; }

.padding.xxlarge {
  padding: 9.375rem; }

.padding.left {
  padding-left: 1.5625rem; }

.padding.right {
  padding-right: 1.5625rem; }

.padding.top {
  padding-top: 1.5625rem; }

.padding.bottom {
  padding-bottom: 1.5625rem; }

.margin.small {
  margin: 1.5625rem; }

.margin.medium {
  margin: 3.125rem; }

.margin.large {
  margin: 4.6875rem; }

.margin.xlarge {
  margin: 6.25rem; }

.margin.xxlarge {
  margin: 9.375rem; }

.margin.left {
  margin-left: 4.6875rem; }

.margin.right {
  margin-right: 4.6875rem; }

.margin.top {
  margin-top: 4.6875rem; }

.margin.bottom {
  margin-bottom: 4.6875rem; }

.registration-form p {
  color: red; }

/*# sourceMappingURL=base.css.map */
